<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1 id="Titulo"><%= title %></h1>    
    <div class="flex-container" id="teste1">
        <img src="images/Esqueleto.png" id="imagemPlayer">
        <img src="images/Esqueleto.png" id="imagemPlayer">  
        <img src="images/Esqueleto.png" id="imagemPlayer"> 
        <img src="images/Esqueleto.png" id="imagemPlayer"> 
        <img src="images/Esqueleto.png" id="imagemPlayer"> 
        <img src="images/Esqueleto.png" id="imagemPlayer"> 
        <img src="images/Esqueleto.png" id="imagemPlayer"> 
        <img src="images/Esqueleto.png" id="imagemPlayer"> 
        <img src="images/Esqueleto.png" id="imagemPlayer"> 
        <img src="images/Esqueleto.png" id="imagemPlayer"> 
        <img src="images/Esqueleto.png" id="imagemPlayer"> 
        <img src="images/Esqueleto.png" id="imagemPlayer"> 
    </div>
    <button onclick="RollD20()" id="RolarD20">
        RollD20
    </button>
    <input type="text" 
    id="inputPericia"
    maxlength="2"
    />
    <p id="resultadoTexto">
    </p>

    <script src="javascripts/index.js"></script>
    <script src="javascripts/dadosPericias.js"></script>
  </body>
</html>
