<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <h1><%= title %></h1>
        <canvas id="canvas"></canvas>
        <input
            type="text"
            id="vidaAtual"
            maxlength="3"
            onchange="mudarVida()"
            value="100"
            style="width: 30px;"
        />
        <input
            type="text"
            id="vidaMaxima"
            maxlength="3"
            onchange="mudarVida()"
            value="100"
            style="width: 30px;"
        />
        <script src="javascripts/healthbar.js"></script>
        <script src="javascripts/index.js"></script>
    </body>
</html>
