html,
body {
    background: #000000;
    color: red;
}



#resultadoTexto {
    color: rgb(255, 255, 255);
    width: fit-content;
}

.tituloPericia{
    font-size: 15px;
    color: white;
}

.classePericia{
    background-color: black;
    color: white;
    
}


