html,
body {
    background: #000000;
    color: red;
}

#resultadoTexto {
    color: rgb(255, 255, 255);
    width: fit-content;
}

#RolarD20 {
    display: flex;
    justify-content: center;

    background-color: #000000;
    color: rgb(255, 255, 255);
}

#inputPericia {
    display: flex;
    justify-content: center;

    background-color: #000000;
    color: rgb(255, 255, 255);
    width: 2%;
}

#inputPericia[type="number"] {
    -moz-appearance: textfield;
}
#inputPericia::-webkit-outer-spin-button,
#inputPericia::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


